body{	margin:0;	padding:0;	}
.top {width: 100%; height: 47px; background: #000000;color:#FFF;}
.topMenu ul li{display: inline-block; float: left; margin-left:  40px; }
.topMenu ul{float: left; text-align: center; list-style-type: none; padding-left: 240px; }
.topMenu ul li a{text-decoration: none; font-size: 12pt; color: #ffffff;}
.topSearch {width: 170px; height: 23px; border-radius:5px; background: #000000; border: 2px solid #3e3e3e;color: #3e3e3e;margin-top: -25px;font-size: 14pt;}
 input[type="submit"] {width: 30px;     height: 20px;     border: none;     background: url(../images/search.png) no-repeat 50% 50%;	margin-left: -30px;	 outline: none;}
.contactForm label{font-size:16pt; }
.contactForm input  {border: 1px solid  #3e3e3e;border-radius: 5px;  margin-left: 130px; width: 380px; height: 30px; margin-bottom: 10px;}
.contactForm{margin-left: 13px;}
.contactForm textarea{border: 1px solid  #3e3e3e; border-radius: 5px; margin-left: 140px; margin-bottom: 40px;}
.header {height: 343px;}
.header  h3 {text-align: center; font-size: 30pt;text-shadow: #3e3e3e;}
.headerTitle {display: inline-block; float: left; font-size: 25pt; padding-left: 25px; padding-top: 150px; }
.headerLogo{ padding-left: 550px;}
.headerBottom{ clear: both; background: url(../images/headerbg.png) repeat-x; width:1180px;height:5px;margin: 0px auto;}
.conteiner{width:1202px; margin:0 auto; padding:0 13px 0 13px;}
.contentBlock{width:100%;	height:400px;	text-align: center;	 }
.contentBlock h2{font-size: 25pt; font-family: Cambria;}
.content h2 {font-size: 25pt; padding-left: 15px;}
 .content a {font-size: 18pt;padding-left: 15px;}
 .content p {font-size: 14pt; padding-left: 15px;}
.contentBlock p{ font-size: 16pt; font-family: Cambria; text-align: center;}
.contentBlockLeft{float: left; width:770px;	height:364px; padding-left: 15px;}
.contactForm a{font-size: 20pt; text-transform: uppercase;}
.contentBlockRight{float:left;width:370px;	margin-left:30px; height:364px; }
.courseInfoButton{background: none repeat scroll 0 0 #f26b2a; color: #ffffff; font-size: 12px;  padding: 10px 0; text-align: center; width: 369px;border-radius:5px;}
.riqueredField {	color: #f36b2e;padding-left: 15px;	}
#thanks{color:#c1c0c0;	font-size:50px;	float:right;	}
#submit{	background:black; 	width:172px; 	height:35px; 	border-radius:2px;	border-color:black;	color:white;font-size:16px;	margin-left:447px;	margin-top:15px;}
.footer{height:226px;background:#000; color:#c1c1c1;}
.footerTopLine{background: url(../images/footertop.png) repeat-x;	width:1180px;	height:5px; }
.footerLeft{float: left; width: 380px; height; 150px;}
.footerLeft ul li{ display:block;	text-decoration: none;	padding-top: 6px;}
.footerLeft ul li a {display:block; color: white; text-decoration: none;list-style-type: none;	}
.footerMenu1 {float: left; display:block;color: white;text-decoration: none;	}
.footerMenu2 {float: left; display:block;	color: white;text-decoration: none; padding-top: 27px;	}
.footerLogo{ float: left; width:70px; height: 115px; margin-top: 70px; margin-left: 175px; margin-bottom: -10px;}
.footerRight{float: right; width: 380px; height: 150px;  }
.footerRight ul li  { display: inline-block; border-right: 1px solid #3e3e3e; height: 30px; margin-top: 30px;}
.footerRight ul>li:last-child  {border-right: none;}
.footerRight ul li  a{ margin:30px 20px; height: 30px; text-align:center; }
.twitter {border-right: nane;}
.footerBottomLine{clear: both; float: left; background: url(../images/footerbottom.png) repeat-x;	width:530px; height:5px; }
.footerBottomLine2{ float: left; background: url(../images/footerbottom.png) repeat-x;	width:530px; height:5px; margin-left: 120px; }
.footerBottom p{clear: both;	 color:#FFFFFF; text-align: center; font-size: 10px; font-family: Myriad Pro; padding-top: 10px;}